APP_CODE_PATH=./websites/
NGINX_LOG_PATH=./nginx/logs/
NGINX_SITE_PATH=./nginx/sites/
MYSQL_DATA_PATH=./mysql/data
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root

POSTGRES_ENTRYPOINT_INITDB=./postgres/entrypoint_init
POSTGRES_USER=postgres
POSTGRES_PASSWORD=docker
POSTGRES_DB=docker

WORKSPACE_TIMEZONE=PRC